---
import StackItem from "./StackItem.astro";

const stackList = [
    {
        title: 'HTML5', image: '/main/images/stack/html.svg', delay: '0s'
    },
    {
        title: 'CSS3', image: '/main/images/stack/css.svg', delay: '.1s'
    },
    {
        title: 'JavaScript', image: '/main/images/stack/js.svg', delay: '.2s/.2s/.2s/.2s/0s'
    },
    {
        title: 'VUE', image: '/main/images/stack/vue.svg', delay: '.3s/0s/0s/0s/.1s'
    },
    {
        title: 'Directus', image: '/main/images/stack/directus.svg', delay: '.4s/.1s/.1s/.1s/0s'
    },
    {
        title: 'October CMS', image: '/main/images/stack/october.svg', delay: '.0s/.2s/.2s/.2s/.1s'
    },
    {
        title: 'Astro', image: '/main/images/stack/astro.svg', delay: '.1s/0s/0s/0s/0s'
    },
    {
        title: 'GIT', image: '/main/images/stack/git.svg', delay: '.2s/.1s/.1s/.1s/.1s'
    },
    {
        title: 'GULP', image: '/main/images/stack/gulp.svg', delay: '.3s/.2s/.2s/.2s/0s'
    },
    {
        title: 'WEBPACK', image: '/main/images/stack/webpack.svg', delay: '.4s/0s/0s/0s/.1s'
    },
    {
        title: 'Vite', image: '/main/images/stack/vite.svg', delay: '0s/.1s/.1s/.1s/0s'
    },
    {
        title: 'WebFlow', image: '/main/images/stack/webflow.svg', delay: '.1s/.2s/.2s/.2s/.1s'
    },
    {
        title: 'Figma', image: '/main/images/stack/figma.svg', delay: '.2s/0s/0s/0s/0s'
    },
    {
        title: 'Photoshop', image: '/main/images/stack/photoshop.svg', delay: '.3s/.1s/.1s/.1s/.1s'
    },
    {
        title: 'Illustrator', image: '/main/images/stack/illustrator.svg', delay: '.4s/.2s/.2s/.2s/0s'
    },
];
---

<div class="list-stack">
    {
        stackList.map((item) => (
            <StackItem title={item.title} image={item.image} delay={item.delay} />
        ))
    }
</div>

<style lang="scss">
    .list-stack {
        position: relative;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 2rem;
        @media (max-width:$md1+px){
            grid-template-columns: repeat(3, 1fr);
        }
        @media (max-width:$md3+px){
            gap: 1rem;
        }
        @media (max-width:$md4+px){
            grid-template-columns: repeat(2, 1fr);
        }
    }
</style>