---
const advContents = [
	{
		img: '/vr/images/hero/adv1.svg',
		title: 'Expertise',
		text: 'Our team consists of experienced VR developers, designers, and technicians who have a passion for VR and a commitment to delivering quality work and give the best service',
	},
	{
		img: '/vr/images/hero/adv2.svg',
		title: 'Customization',
		text: "Every client is unique, and we believe every VR experience should be too. We'll work with you to create a customized solution that meets your specific needs and goals",
	},
	{
		img: '/vr/images/hero/adv3.svg',
		title: 'Service',
		text: "We believe in providing exceptional customer service, from initial consultation to final delivery. Our goal is to ensure you're satisfied with every aspect of your VR experience.",
	},
];
---

<div class="advantages-hero _scr-item _fade-up" data-duration=".6s" data-delay=".3s">
	{
		advContents.map((item) => (
			<div class="advantages-hero__item">
				<img src={item.img} alt={item.title} />
				<h3>{item.title}</h3>
				<p>{item.text}</p>
			</div>
		))
	}
</div>

<style lang="scss">
	@import '../../styles/vr/vars';

	.advantages-hero {
		position: relative;
		z-index: 1;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 50px;
		padding: 42px 64px;
		background: var(--bgDoubleGray);
		// .advantages-hero__item
		&__item {
			img {
				margin-bottom: 42px;
			}
			h3 {
				margin-bottom: 12px;
			}
			p {
				font-size: 14px;
				line-height: 28px;
			}
		}
		@media (max-width:$md2+px){
			padding: 36px;
		}
		@media (max-width:$md3+px){
			grid-template-columns: repeat(2, 1fr);
			&__item {
				&:last-child {
					grid-column: span 2;
				}
			}
		}
		@media (max-width:$md3+px){
			grid-template-columns: 1fr;
			&__item {
				&:last-child {
					grid-column: span 1;
				}
			}
		}
	}
</style>
