---
import AdvantagesHero from './AdvantagesHero.astro';
---
<section class="hero section" id="home">
    <div class="_container">
        <div class="hero__content">
            <div class="hero__info">
                <div class="hero__text">
                    <h1 class="_scr-item _fade-up" data-delay="0">Immerse Yourself in Virtual Reality</h1>
                    <p class="_scr-item _fade-up"  data-delay=".1s">Experience Unforgettable Events in VR. Bring your events to life like never before with our VR services</p>
                    <a class="main-button _scr-item _fade-up" data-delay=".2s" href="#">Discover more</a>
                </div>
                <div class="hero__bottom">
                    <div class="hero__clients _scr-item _fade-up" data-duration="1s" data-delay=".3s">
                        <ul>
                            <li>
                                <img class="lazyload" data-src="/vr/images/hero/01.png" alt="Client 1" />
                                <noscript>
                                    <img src="/vr/images/hero/01.png" alt="Client 1" />
                                </noscript>
                            </li>
                            <li>
                                <img class="lazyload" data-src="/vr/images/hero/02.png" alt="Client 1" />
                                <noscript>
                                    <img src="/vr/images/hero/02.png" alt="Client 1" />
                                </noscript>
                            </li>
                            <li>
                                <img class="lazyload" data-src="/vr/images/hero/03.png" alt="Client 1" />
                                <noscript>
                                    <img src="/vr/images/hero/02.png" alt="Client 1" />
                                </noscript>
                            </li>
                        </ul>
                        <div><span>32k+</span> Happy Client</div>
                    </div>
                    <div class="hero__video video">
                        <div>
                            <img class="lazyload" data-src="/vr/images/hero/video.png" alt="Video">
                            <noscript>
                                <img src="/vr/images/hero/video.png" alt="Video">
                            </noscript>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero__image bg-element _scr-item _fade-left" data-duration="1s" data-delay="0">
                <img class="lazyload" data-src="/vr/images/hero/hero_image.png" alt="Hero image">
                <noscript>
                    <img src="/vr/images/hero/hero_image.png" alt="Hero image">
                </noscript>
            </div>
        </div>
        <AdvantagesHero />
    </div>
</section>
<style lang="scss">
    @import '../../styles/assets/vars';

    .hero {
        position: relative;
        padding-top: 127px;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 736px;
            height: 353.2px;
            background: url('/vr/images/hero/before.svg');
        }
        &::after {
            content: '';
            position: absolute;
            top: 284px;
            left: 0;
            width: 1100px;
            height: 721px;
            background: url('/vr/images/hero/after.svg');
        }
		// .hero__content
		&__content {
            position: relative;
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 40px;
            @media (max-width:$md2+px){
                align-items: flex-end;
            }
            @media (max-width:$md3+px){
                flex-direction: column;
                align-items: flex-start;
                padding-bottom: 144px;
            }
            @media (max-width:$md5+px){
                padding-bottom: 100px;
            }
		}
		// .hero__info
		&__info {
            display: flex;
            flex-direction: column;
            gap: 42px;
            @media (max-width:$md2+px){
                padding-bottom: 42px;
            }
            @media (max-width:$md3+px){
                padding-bottom: 0;
                gap: 32px;
            }
		}
		// .hero__text
		&__text {
            h1 {
                max-width: 540px;
                margin-bottom: 12px;
            }
            p {
                max-width: 446px;
                margin-bottom: 32px;
            }
		}
		// .hero__bottom
		&__bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 42px;
            @media (max-width:$md2+px){
                flex-direction: column;
                align-items: flex-start;
            }
            @media (max-width:$md3+px){
                gap: 144px;
            }
		}
		// .hero__clients
		&__clients {
            display: flex;
            align-items: center;
            gap: 30px;
            ul {
                display: flex;
                li {
                    width: 50.45px;
                    height: 50.45px;
                    margin-right: -12px;
                    border: 1px solid var(--colorBlack_100);
                    border-radius: 50%;
                    img {
                        border-radius: 50%;
                    }
                }
            }
            div {
                span {
                    position: relative;
                    color: var(--colorWhite);
                    font-weight: 600;
                    &::before {
                        content: '';
                        position: absolute;
                        bottom: -2.25px;
                        right: 50%;
                        width: 47.7px;
                        height: 7px;
                        background: url('/vr/images/hero/span.svg');
                        transform: translateX(50%);
                    }
                }
            }
		}
		// .hero__video
		&__video { 
		}
		// .hero__image
		&__image {
            position: relative;
            @media (max-width:$md3+px){
                position: absolute;
                bottom: 0;
                right: -120px;
                z-index: -1;
                img {
                    width: 354px;
                    height: 422px;
                }
            }
            @media (max-width:$md5+px){
                right: -350px;
                img {
                    width: calc(354px - 10%);
                    height: calc(422px - 10%);
                }
            }
		}
    }
</style>