---
const { id = '', className = '' } = Astro.props;
---

<section class={`${className} section`.trim()} id={id}>
    <slot />
</section>

<style lang="scss">
    .section {
        margin-bottom: 16rem;
        &:last-child {
            margin-bottom: 0;
        }
        @media (max-width:$md3+px){
            margin-bottom: 8rem;
        }
    }
</style>