@import '../assets/null.scss';
@import '../../styles/assets/vars';
@import 'typo';

@font-face {
    font-family: 'FuturaPT';
    font-display: swap;
    src: url('/fonts/FuturaPT-Book.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaPT';
    font-display: swap;
    src: url('/fonts/FuturaPT-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaPT';
    font-display: swap;
    src: url('/fonts/FuturaPT-Demi.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaPT';
    font-display: swap;
    src: url('/fonts/FuturaPT-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

:root {
    --bgColor1: #111;
    --bgColor2: #161616;
    --fontColor1: #e9e9f1;
    --fontColor2: #c7c6d3;
    --accentColor1: #4e69ff;
    --accentColor2: #435efa;
    --borderColor: #303033;

}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

html.lenis, html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-smooth iframe {
    pointer-events: none;
}

body {
    font-family: FuturaPT, sans-serif;
    color: var(--fontColor1);
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-weight: 400;
    letter-spacing: .2px;
    text-rendering: optimizeLegibility;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: always;
    background-color: var(--bgColor1);
    @media (max-width:$md1+px){
        font-size: 2.2rem;
        line-height: 2.9rem;
    }
    @media (max-width:$md3+px){
        font-size: 2rem;
        line-height: 2.6rem;
    }
    @media (max-width:$md4+px){
        font-size: 1.8rem;
        line-height: 2.3rem;
    }
}

._container {
    margin-right: 6%;
    margin-left: calc(40rem + 11%);
    @media (max-width: 1600px){
        margin-right: 3%;
        margin-left: calc(30rem + 6%);
    }
    @media (max-width:$md2+px){
        margin: 0 3rem;
    }
    @media (max-width:$md3+px){
        margin: 0 1.5rem;
    }
}

.badge {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 3rem;
    margin-bottom: 3rem;
    padding: 0 1.2rem;
    color: var(--fontColor2);
    font-size: 1.2rem;
    line-height: 1.2rem;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 1px solid var(--borderColor);
    border-radius: 1rem;
    svg {
        width: 10px;
        height: 10px;
        fill: var(--fontColor2);
    }
}