@import '../assets/null';
@import 'typo';
@import 'swiper/css';

@font-face {
    font-family: 'FuturaPT';
    font-display: swap;
    src: url('/fonts/FuturaPT-Book.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaPT';
    font-display: swap;
    src: url('/fonts/FuturaPT-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaPT';
    font-display: swap;
    src: url('/fonts/FuturaPT-Demi.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaPT';
    font-display: swap;
    src: url('/fonts/FuturaPT-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

:root {
    --bgColor1: #111;
    --bgColor2: #161616;
    --fontColor1: #e9e9f1;
    --fontColor2: #c7c6d3;
    --accentColor1: #4e69ff;
    --accentColor2: #8495f9;
    --borderColor: #303033;
    --gradient1: linear-gradient(var(--accentColor1), var(--accentColor2));

}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

html.lenis, html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-smooth iframe {
    pointer-events: none;
}

body {
    font-family: FuturaPT, sans-serif;
    color: var(--fontColor1);
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-weight: 400;
    letter-spacing: .2px;
    text-rendering: optimizeLegibility;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: always;
    background-color: var(--bgColor1);
    @media (max-width:$md1+px){
        font-size: 2.2rem;
        line-height: 2.9rem;
    }
    @media (max-width:$md3+px){
        font-size: 2rem;
        line-height: 2.6rem;
    }
    @media (max-width:$md4+px){
        font-size: 1.8rem;
        line-height: 2.3rem;
    }
}

._fade-up {
    opacity: 0;
    transform: translateY(10rem);
    transition-property: opacity, transform;
    transition-timing-function: ease;
    &._visible {
        opacity: 1;
        transform: translateY(0);
    }
    @media (max-width:$md3+px){
        transform: translateY(5rem);
    }
}

._fade-left {
    opacity: 0;
    transform: translateX(100px);
    transition-property: opacity, transform;
    transition-timing-function: ease;
    &._visible {
        opacity: 1;
        transform: translateX(0);
    }
    @media (max-width:$md3+px){
        transform: translateX(50px);
    }
}