---
import Map from './Map.astro';
import Cards from './Cards.astro';
import { dots } from '../../js/surf/dots';
---
<section class="surf" id="surf">
    <h2 class="main-heading">Surf</h2>
    <Map />
    <img class="surf__geo lazyload" data-src="/surf/icons/geo.svg" alt="geo">
    <noscript>
        <img class="surf__geo" src="/surf/icons/geo.svg" alt="geo">
    </noscript>
    {dots.map(dot => (
        <div class="surf__text main-subtext">
            <div>Current Location</div>
            <h3>{dot.location} <span></span> {dot.country} </h3>
        </div>
    ))}
    <Cards />
</section>
<style lang="scss">
    .surf {
        position: relative;
        margin-bottom: 285px;
        @media (max-width: 480px){
            margin-bottom: 100px;
        }
        &__geo {
            position: absolute;
            top: 60px;
            right: 0;
            @media (max-width: 992px){
                display: none;
            }
        }
    }
</style>