---
import { dots } from '../../js/surf/dots';
---
<section class="travel main-content" id="travel">
    <h2 class="main-heading">Travel</h2>
    <div class="travel__content swiper">
        <div class="swiper-wrapper">
            {dots.map(dot => (
                <div class="main-item swiper-slide">
                    <div class="main-item__top">
                        <div class="main-item__head main-subtext _active">
                            <div>Shore</div>
                            <h3>{dot.location} <span></span> {dot.country}</h3>
                        </div>
                    </div>
                    <div class="main-item__about">
                        <div class="main-item__subhead">
                            <div class="main-item__subtitle main-subtext _active">
                                <div>Airline</div>
                                <h3>{dot.airline}</h3>
                            </div>
                            <img class="lazyload" data-src="/surf/images/travel/airplane.png" alt="Airlie Beach"/>
                            <noscript>
                                <img src="/surf/images/travel/airplane.png" alt="Airlie Beach"/>
                            </noscript>
                        </div>
                        <div class="main-item__info">
                            <div>Queensland
Australia</div>
                            <div>7,065 Miles</div>
                            <div>23 Hours
5 Minutes</div>
                            <div>$1,976 USD</div>
                        </div>
                        <img class="main-item__coctail lazyload" data-src="/surf/images/travel/coctail.png" alt="Airlie Beach"/>
                        <noscript>
                            <img class="main-item__coctail" src="/surf/images/travel/coctail.png" alt="Airlie Beach"/>
                        </noscript>
                        <a class="main-item__button" href="#">
                            <div>Book <span></span> Flight</div>
                            <svg>
                                <use xlink:href="/surf/icons/icons.svg#arrow"></use>
                                <title>View Surf</title>
                            </svg>
                        </a>
                    </div>
                </div>
            ))}
        </div>
        <div class="main-content__nav-buttons main-nav-buttons">
            <button class="travel__nav-prev main-nav-buttons__button">
                <svg>
                    <use xlink:href="/surf/icons/icons.svg#arrow"></use>
                    <title>Prev</title>
                </svg>
            </button>
            <button class="travel__nav-next main-nav-buttons__button">
                <svg>
                    <use xlink:href="/surf/icons/icons.svg#arrow"></use>
                    <title>Next</title>
                </svg>
            </button>
        </div>
    </div>
</section>
<script>
    import Swiper, { EffectFade, Navigation } from '../../js/surf/swiper';

    window.addEventListener('load', () => {
        const travelSwiper = new Swiper('.travel__content', {
            modules: [EffectFade, Navigation],
            slidesPerView: 1,
            loop: true,
            effect: 'fade',
            fadeEffect: {
                crossFade: true
            },
            navigation: {
                nextEl: '.travel__nav-next',
				prevEl: '.travel__nav-prev'
            }
        });
    });
</script>
<style lang="scss">
    .main-heading {
        &::after {
            content: 'travel';
        }
    }
    .travel {
        margin-bottom: 68px;
    }
</style>