---
---
<section class="travel" id="travel">
    <h2 class="main-heading">Travel</h2>
    <div class="travel__content swiper">
        <div class="swiper__wrapper">
            <div class="travel__item.item-travel swiper-slide">
                <div class="item-travel__top">
                    <img class="lazyload" data-src="/surf/images/travel/bg.jpg" alt="Airlie Beach"/>
                    <noscript>
                        <img src="/surf/images/travel/bg.jpg" alt="Airlie Beach"/>
                    </noscript>
                </div>
                <div class="item-travel__bottom">

                </div>
            </div>
        </div>
    </div>
</section>