---
import Form from '../../components/main/Form.astro';
import BottomContacts from '../../components/main/BottomContacts.astro';

const tag = ['Контакты', '/main/icons/icons.svg#contacts'];
---

<section class="contacts section" id="contacts">
    <div class="_container">
        <div class="contacts__content">
            <div class="contacts__text title-content">
                <div class="contacts__badge badge _scr-item _fade-up" data-duration=".3s">
                    <svg>
                        <use xlink:href={tag[1]}></use>
                        <title>{tag[0]}</title>
                    </svg>
                    <span>{tag[0]}</span>
                </div>
                <h2 class="_scr-item _fade-up">Давайте сделаем
что-то крутое</h2>
            </div>
            <Form />
            <BottomContacts />
        </div>
    </div>
</section>

<style lang="scss">
    .contacts {
        margin-bottom: 0;
    }
</style>