---
import Form from '../../components/main/Form.astro';

const tag = ['Контакты', '/main/icons/icons.svg#contacts'];
const heading = 'Давайте сделаем что-то крутое';
---

<section class="contact section" id="contacts">
    <div class="_container">
        <div class="contact__content">
            <div class="contact__text title-content">
                <div class="contact__badge badge">
                    <svg>
                        <use xlink:href={tag[1]}></use>
                        <title>{tag[0]}</title>
                    </svg>
                    <span>{tag[0]}</span>
                </div>
                <h2>{heading}</h2>
            </div>
            <Form />
            <div class="contact__socials">

            </div>
        </div>
    </div>
</section>