---
import Form from '../../components/main/Form.astro';
import BottomContacts from '../../components/main/BottomContacts.astro';

const tag = ['Контакты', '/main/icons/icons.svg#contacts'];
---

<section class="contact" id="contacts">
    <div class="_container">
        <div class="contact__content">
            <div class="contact__text title-content">
                <div class="contact__badge badge">
                    <svg>
                        <use xlink:href={tag[1]}></use>
                        <title>{tag[0]}</title>
                    </svg>
                    <span>{tag[0]}</span>
                </div>
                <h2>Давайте сделаем
что-то крутое</h2>
            </div>
            <Form />
            <BottomContacts />
        </div>
    </div>
</section>