---
const { parentClass, contactNetworks } = Astro.props;
---

<div class={`${parentClass ? parentClass : ''} contacts-header`}>
    <button class="contacts-header__btn" type="button" title="Написать мне">
        <div>Написать мне</div>
        <svg>
            <use xlink:href="/main/icons/icons.svg#chat"></use>
            <title>Написать мне</title>
        </svg>
    </button>
    <ul class="contacts-header__content">
        {
            contactNetworks.map((item) => (
                <li>
                    <a href={item.url}>
                        <svg>
                            <use xlink:href={`/main/icons/icons.svg#${item.icon}`}></use>
                            <title>{item.title}</title>
                        </svg>
                    </a>
                </li>
            ))
        }
    </ul>
</div>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const callBtn = document.querySelector('.contacts-header__btn');
        const callContent = document.querySelector('.contacts-header__content');

        callBtn.addEventListener('click', () => {
            callBtn.classList.toggle('_active');
            callContent.classList.toggle('_active');
        });
    });
</script>

<style lang="scss">
    @import '../../styles/assets/vars';

    .contacts-header {
        position: relative;
        display: inline-block;
		// .contacts-header__btn
		&__btn {
            position: relative;
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            height: 6rem;
            padding: 0 2rem;
            font-size: 1.3rem;
            line-height: 100%;
            font-weight: 600;
            letter-spacing: 1.5px;
            text-transform: uppercase;
            background-color: var(--accentColor1);
            border-radius: 1rem;
            transition: background-color .3s ease 0s;
            svg {
                width: 1.8rem;
                height: 1.8rem;
                fill: var(--fontColor1);
            }
            &:hover {
                background-color: var(--accentColor2);
            }
            @media (max-width: 1600px){
                height: 5rem;
            }
            @media (max-width:$md3+px){
                div {
                    display: none;
                }
            }
            @media (max-width:$md4+px){
                padding: 0 1.6rem;
            }
            @media (max-width:$md5+px){
                height: 4rem;
                padding: 0 1.5rem;
                svg {
                    width: 1.5rem;
                    height: 1.5rem;
                }
            }
		}
		// .contacts-header__content
		&__content {
            position: absolute;
            top: 6rem;
            right: 0;
            display: flex;
            align-items: center;
            gap: 1rem;
            padding: 1.5rem 0;
            opacity: 0;
            transform: translateY(-6.5rem);
            transition: transform .3s ease;
            &._active {
                transform: translateY(0);
                opacity: 1;
            }
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 4rem;
                height: 4rem;
                background-color: var(--bgColor1);
                border: 1px solid var(--borderColor);
                border-radius: .8rem;
                transition: all .3s ease;
                svg {
                    width: 1.8rem;
                    height: 1.8rem;
                    fill: var(--fontColor2);
                    transition: all .3s ease;
                }
                &:hover {
                    background-color: var(--fontColor1);
                    border-color: var(--fontColor1);
                    svg {
                        fill: var(--bgColor1);
                    }
                }
            }
            @media (max-width: 1600px){
                top: 5rem;
            }
            @media (max-width:$md2+px){
                top: -6.5rem;
                transform: translateY(6.5rem);
            }
            @media (max-width:$md4+px){
                top: -8rem;
                a {
                    width: 5rem;
                    height: 5rem;
                }
            }
            @media (max-width:$md5+px){
                top: -7rem;
                a {
                    width: 4.5rem;
                    height: 4rem;
                }
            }
		}
    }

</style>