---
const { parentClass, contactNetworks } = Astro.props;
---

<div class={`${parentClass ? parentClass : ''} contacts-header`}>
    <button class="contacts-header__btn button-main" type="button" title="Написать мне">
        <span>Написать мне</span>
        <svg>
            <use xlink:href="/main/icons/icons.svg#chat"></use>
            <title>Написать мне</title>
        </svg>
    </button>
    <ul class="contacts-header__content">
        {
            contactNetworks.map((item) => (
                <li>
                    <a href={item.url}>
                        <svg>
                            <use xlink:href={`/main/icons/icons.svg#${item.icon}`}></use>
                            <title>{item.title}</title>
                        </svg>
                    </a>
                </li>
            ))
        }
    </ul>
</div>

<style lang="scss">
    @import '../../styles/assets/vars';

    .contacts-header {
        position: relative;
        display: inline-block;
        &:hover {
            .contacts-header__content {
                transform: translateY(0);
            }
        }
		// .contacts-header__btn
		&__btn {
            position: relative;
            z-index: 1;
            
		}
		// .contacts-header__content
		&__content {
            position: absolute;
            top: 5rem;
            right: 0;
            display: flex;
            align-items: center;
            gap: 1rem;
            padding: 1.5rem 0;
            transform: translateY(-6.5rem);
            transition: transform .3s ease;
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 3.6rem;
                height: 3.6rem;
                border: 1px solid var(--borderColor);
                border-radius: .8rem;
                transition: all .3s ease;
                svg {
                    width: 1.6rem;
                    height: 1.6rem;
                    fill: var(--fontColor2);
                    transition: all .3s ease;
                }
                &:hover {
                    background-color: var(--fontColor1);
                    border-color: var(--fontColor1);
                    svg {
                        fill: var(--bgCol1);
                    }
                }
            }
		}
    }

</style>