---
import RotatingButton from './RotatingButton.astro';

const tag = ['Главная', '/main/icons/icons.svg#home'];
const subtext = 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.';
---

<section class="home section" id="home">
    <div class="_container">
        <div class="home__content">
            <div class="home__text title-content">
                <div class="badge _scr-item _fade-up" data-duration=".3s">
                    <svg>
                        <use xlink:href={tag[1]}></use>
                        <title>{tag[0]}</title>
                    </svg>
                    <span>{tag[0]}</span>
                </div>
                <h1 class="_scr-item _fade-up">Верстка сайтов 
и Frontend-разработка</h1>
                <p class="_scr-item _fade-up">{subtext}</p>
                <a class="home__scroll-btn _scr-item _fade-up" href="#portfolio" data-offset="-100">
                    <svg>
                        <use xlink:href="/main/icons/icons.svg#portfolio"></use>
                    </svg>
                    <span>Мои работы</span>
                </a>
                <RotatingButton />
            </div>
        </div>
    </div>
    <div class="blob-1"></div>
    <div class="blob-2"></div>
</section>

<style lang="scss">
    @import '../../styles/assets/vars';

    .home {
        position: relative;
        overflow: hidden;
		// .home__content
		&__content {
            display: flex;
            align-items: flex-end;
            height: 100vh;
            padding-bottom: 5%;
            @media (max-width: 1600px){
                padding-bottom: 3%;
            }
            @media (max-width:$md2+px){
                height: auto;
                padding-bottom: 0;
            }
		}
		// .home__text
		&__text {
            margin-bottom: 0;
		}
		// .home__scroll-btn
		&__scroll-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            height: 5rem;
            padding: 0 2rem;
            color: var(--fontColor1);
            font-size: 1.3rem;
            line-height: 100%;
            font-weight: 600;
            letter-spacing: 1.5px;
            text-transform: uppercase;
            background-color: var(--bgColor1);
            border: 1px solid var(--borderColor);
            border-radius: 1rem;
            transition: transform .6s ease;
            svg {
                width: 1.8rem;
                height: 1.8rem;
                fill: var(--fontColor1);
            }
            &:hover {
                transform: scale(.9);
            }
            @media (max-width:$md3+px){
                width: 100%;
            }
		}
    }

    .blob-1, .blob-2 {
        position: fixed;
        z-index: -1;
        width: 300px;
        height: 300px;
        background: linear-gradient(to right, #5e76fa, #c7c6d3);
        filter: blur(150px);
        @media (max-width:$md3+px){
            width: 200px;
            height: 200px;
            filter: blur(120px);
        }
    }
    .blob-1 {
        top: 0;
        right: 0;
    }

    .blob-2 {
        bottom: 20%;
        left: 0;
    }

</style>