---
import RotatingButton from './RotatingButton.astro';

const tagTitle = 'Главная';
const tagIcon = '/main/icons/icons.svg#home';
const subtext = 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.';
---

<section class="home" id="home">
    <div class="_container">
        <div class="home__content">
            <div class="home__text title-content">
                <div class="badge">
                    <svg>
                        <use xlink:href={tagIcon}></use>
                        <title>{tagTitle}</title>
                    </svg>
                    <span>{tagTitle}</span>
                </div>
                <h1>Верстка сайтов 
и Frontend-разработка</h1>
                <p>{subtext}</p>
                <a class="home__scroll-btn _goto" href="#portfolio">
                    <svg>
                        <use xlink:href="/main/icons/icons.svg#portfolio"></use>
                    </svg>
                    <div>Мои работы</div>
                </a>
                <RotatingButton />
            </div>
        </div>
    </div>
</section>

<style lang="scss">
    @import '../../styles/assets/vars';

    .home {
		// .home__content
		&__content {
            display: flex;
            align-items: flex-end;
            height: 100vh;
            padding-bottom: 5%;
            @media (max-width: 1600px){
                padding-bottom: 3%;
            }
            @media (max-width:$md2+px){
                height: auto;
                padding-bottom: 0;
            }
		}
		// .home__text
		&__text {
            margin-bottom: 0;
		}
		// .home__scroll-btn
		&__scroll-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            height: 5rem;
            padding: 0 2rem;
            color: var(--fontColor1);
            font-size: 1.3rem;
            line-height: 100%;
            font-weight: 600;
            letter-spacing: 1.5px;
            text-transform: uppercase;
            border: 1px solid var(--borderColor);
            border-radius: 1rem;
            transition: transform .6s ease;
            svg {
                width: 1.8rem;
                height: 1.8rem;
                fill: var(--fontColor1);
            }
            &:hover {
                transform: scale(.9);
            }
            @media (max-width:$md3+px){
                width: 100%;
            }
		}
    }

</style>