---
import { Picture } from 'astro:assets';
---

<div class="lightshop-popup" data-lightshop-popup>
    <div class="lightshop-popup__wrapper">
        <div class="lightshop-popup__body">
            <div class="lightshop-popup__header header-lightshop">
                <div class="header-lightshop__left">
                    <div class="header-lightshop__count">
                        <span data-lightshop-currentItem></span> / <span data-lightshop-totalItems></span>
                    </div>
                    <div class="header-lightshop__title" data-lightshop-item data-key="title" data-property="textContent"></div>
                </div>
                <div class="header-lightshop__buttons">
                    <button class="header-lightshop__button" type="button" title="Назад" data-lightshop-prev>
                        <svg>
                            <use xlink:href="/main/icons/icons.svg#arrow_lightshop"></use>
                        </svg>
                    </button>
                    <button class="header-lightshop__button" type="button" title="Вперед" data-lightshop-next>
                        <svg>
                            <use xlink:href="/main/icons/icons.svg#arrow_lightshop"></use>
                        </svg>
                    </button>
                    <button class="header-lightshop__button" type="button" title="Закрыть" data-lightshop-close>
                        <span></span>
                        <span></span>
                    </button>
                </div>
            </div>
            <div class="lightshop-popup__content content-lightshop" data-lightshop-popup-content>
                <div class="content-lightshop__body">
                    <div class="content-lightshop__main-info">
                        <div class="content-lightshop__text text-lightshop">
                            <div class="text-lightshop__content">
                                <div class="text-lightshop__head">
                                    <div data-lightshop-item data-key="title" data-property="textContent"></div>
                                    <p data-lightshop-item data-key="subtitle" data-property="textContent"></p>
                                </div>
                                <div class="text-lightshop__block">
                                    <div class="text-lightshop__title">Задачи:</div>
                                    <ul class="text-lightshop__list" data-lightshop-tasks></ul>
                                </div>
                                <div class="text-lightshop__block">
                                    <div class="text-lightshop__title">Используемые инструменты:</div>
                                    <div class="text-lightshop__tools-grid" data-lightshop-stack></div>
                                </div>
                                <div class="text-lightshop__block">
                                    <div class="text-lightshop__title">Задействованные навыки:</div>
                                    <ul class="text-lightshop__list" data-lightshop-skills></ul>
                                </div>
                            </div>
                        </div>
                        <div class="content-lightshop__right">
                            <div class="content-lightshop__images">
                                <div class="content-lightshop__main-image" data-lightshop-item data-key="mainImage" data-property='["src", "alt", "title"]'>
                                    <img data-lightshop-item data-key="imageUrl" data-property='["src", "alt", "title"]'>
                                </div>
                                <div class="content-lightshop__gallery gallery-lightshop swiper">
                                    <div class="gallery-lightshop__content swiper-wrapper" data-lightshop-gallery data-key="gallery">
                                    </div>
                                    <button class="gallery-lightshop__prev" type="button">
                                        <svg>
                                            <use xlink:href="/main/icons/icons.svg#arrow_lightshop"></use>
                                        </svg>
                                    </button>
                                    <button class="gallery-lightshop__next" type="button">
                                        <svg>
                                            <use xlink:href="/main/icons/icons.svg#arrow_lightshop"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            <a class="content-lightshop__button contact-button" data-lightshop-item data-key="url" data-property="href">
                                <span>Live-превью</span>
                            </a>
                            <a href="/vr"></a>
                        </div>
                    </div>
                    <div class="content-lightshop__about" data-lightshop-item data-key="about" data-property="innerHTML"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    import { initLightshop } from '../../js/main/lightshop.js';
    initLightshop();
</script>

<style lang="scss">
    @import '../../styles/assets/vars';

    .lightshop-popup {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10000;
        width: 100%;
        height: 100%;
        background: rgba(199, 198, 211, 0.19);
        backdrop-filter: blur(1rem);
        display: none;
        opacity: 0;
        overflow: hidden;
		// .lightshop-popup__wrapper
		&__wrapper {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            max-width: $md1+px;
            height: 100%;
            max-height: calc(100vh - 10rem);
            transform: translate(-50%, -50%);
            overflow: hidden;
            border-radius: 2rem;
            @media (max-width:$md2+px){
                max-height: none;
                padding-top: 2rem;
            }
            @media (max-width:$md3+px){
                padding-top: 0;
                border-radius: 0;
            }
		}
        // .lightshop-popup__body
        &__body {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            padding: 0 2rem;
            overflow: hidden;
            @media (max-width:$md3+px){
                padding: 0;
            }
        }
		// .lightshop-popup__header
		&__header {
		}
		// .lightshop-popup__content
		&__content {
		}
    }
    .header-lightshop {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 6rem;
        padding: 0 2rem;
        background-color: var(--bgColor2);
        border-radius: 2rem;
        @media (max-width:$md3+px){
            height: 5rem;
            padding: 0 1.5rem;
            border-radius: 0;
        }
        // .header-lightshop__left
        &__left {
            display: flex;
            align-items: center;
            gap: 6rem;
            @media (max-width:$md4+px){
                gap: 2rem;
            }
        }
        // .header-lightshop__count
        &__count {
            color: var(--fontColor2);
            font-size: 1.4rem;
            line-height: 100%;
        }
        // .header-lightshop__title
        &__title {
            font-weight: 700;
            line-height: 100%;
        }
        // .header-lightshop__buttons
        &__buttons {
            display: flex;
            align-items: center;
        }
        // .header-lightshop__button
        &__button {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 4rem;
            height: 4rem;
            border-radius: 1rem;
            transition: background-color .3s ease;
            &:hover {
                svg {
                    flex-shrink: 0;
                    fill: var(--fontColor1);
                }
            }
            svg {
                width: 1.8rem;
                height: 1.8rem;
                fill: var(--fontColor2);
                transition: all .3s ease;
            }
            &[data-lightshop-prev] {
                transform: rotate(180deg);
            }
            &[data-lightshop-close] {
                span {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 2.1rem;
                    height: 2.5px;
                    background: var(--fontColor2);
                    border-radius: 1px;
                    transform: translate(-50%, -50%) rotate(45deg);
                    transition: all .3s ease;
                    &:last-child {
                        transform: translate(-50%, -50%) rotate(-45deg);
                    }
                }
                &:hover {
                    background-color: #b86b30;
                    span {
                        background: var(--fontColor1);
                    }
                }
            }
        }
    }
    .content-lightshop {
        margin-top: 4rem;
        padding: 4rem;
        background-color: var(--bgColor1);
        border-radius: 2rem;
        overflow-y: scroll;
        -ms-overflow-style: none;
        &::-webkit-scrollbar {
            width: 0;
        }
        @media (max-width:$md2+px){
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
        @media (max-width:$md3+px){
            margin-top: 2rem;
            padding: 3rem 1.5rem;
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
        }
		// .content-lightshop__body
		&__body {
            display: flex;
            flex-direction: column;
            gap: 6rem;
            @media (max-width:$md3+px){
                gap: 2rem;
            }
		}
        // .content-lightshop__main-info
        &__main-info {
            display: flex;
            gap: 6rem;
            @media (max-width:$md2+px){
                flex-direction: column;
                gap: 12rem;
            }
            @media (max-width:$md3+px){
                gap: 8rem;
            }
        }
        // .content-lightshop__right
        &__right {
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
            gap: 6rem;
            @media (max-width:$md3+px){
                gap: 4rem;
            }
        }
		// .content-lightshop__images
		&__images {
            display: flex;
            flex-direction: column;
            gap: 4rem;
            @media (max-width:$md3+px){
                gap: 3rem;
            }
		}
		// .content-lightshop__main-image
		&__main-image {
            flex-shrink: 0;
            max-width: 50rem;
            border-radius: 2rem;
            overflow: hidden;
            @media (max-width:$md2+px){
                max-width: none;
                width: 100%;
            }
		}
		// .content-lightshop__gallery
		&__gallery {
		}
		// .content-lightshop__button
		&__button {
            color: inherit;
		}
		// .content-lightshop__text
		&__text {
		}
        // .content-lightshop__about
        &__about {
            color: var(--fontColor2);
            font-size: 2rem;
            line-height: 2.2rem;
            @media (max-width:$md2+px){
                font-size: 1.8rem;
                line-height: 2rem;
            }
        }
    }
    .gallery-lightshop {
        max-width: 50rem;
        padding-top: 4rem;
        @media (max-width:$md2+px){
            max-width: none;
            width: 100%;
        }
        // .gallery-lightshop__content
        &__content {
        }
        &__prev, &__next {
            position: absolute;
            top: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 3rem;
            height: 3rem;
            svg {
                width: 2.4rem;
                height: 2.4rem;
                fill: var(--fontColor2);
                transition: all .3s ease;
            }
            @media (min-width:$md2+px){
                &:hover {
                    svg {
                        fill: var(--fontColor1);
                    }
                }
            }
        }
        // .gallery-lightshop__prev
        &__prev {
            right: auto;
            left: 0;
            transform: rotate(180deg);
        }
    }
    .text-lightshop {
		// .text-lightshop__content
		&__content {
		}
		// .text-lightshop__head
		&__head {
            padding-bottom: 2rem;
            border-bottom: 1px solid var(--borderColor);
            div {
                font-size: 4rem;
                line-height: 4.4rem;
                font-weight: 700;
            }
            p {
                color: var(--fontColor2);
                font-size: 1.8rem;
                line-height: 2rem;
            }
            @media (max-width:$md3+px){
                div {
                    font-size: 3.6rem;
                    line-height: 3.8rem;
                }
            }
            @media (max-width:$md4+px){
                div {
                    font-size: 3rem;
                    line-height: 3.2rem;
                }
            }
		}
		// .text-lightshop__block
		&__block {
            margin-top: 6rem;
            color: var(--fontColor2);
            font-size: 2rem;
            line-height: 2.2rem;
            @media (max-width:$md2+px){
                margin-top: 4rem;
                font-size: 1.8rem;
                line-height: 2rem;
            }
		}
		// .text-lightshop__title
		&__title {
            margin-bottom: 2rem;
            color: var(--fontColor1);
            font-size: 2.3rem;
            line-height: 2.6rem;
            font-weight: 600;
            @media (max-width:$md3+px){
                font-size: 2rem;
                line-height: 2.3rem;
            }
		}
		// .text-lightshop__tools-grid
		&__tools-grid {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 2rem;
            @media (max-width:$md3+px){
                gap: 1.5rem;
            }
		}
    }

</style>

<style lang="scss" is:global>
    @import '../../styles/assets/vars';

    .text-lightshop__list {
        margin-left: 2rem;
        padding-left: 2rem;
        list-style: disc;
        li {
            margin-bottom: 1rem;
            color: var(--fontColor2);
            list-style: disc;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .text-lightshop__tools-item {
        img {
            height: 5rem;
        }
        @media (max-width:$md3+px){
            img {
                height: 4rem;
            }
        }
    }

    .gallery-lightshop__item {
        border-radius: 1rem;
        overflow: hidden;
        cursor: pointer;
    }
</style>