---
---

<div class="image-main-popup">
    <img data-lightshop-item data-key="imageUrl" data-property='["src", "alt", "title"]'>
</div>

<style lang="scss">
    .image-main-popup {
        flex-shrink: 0;
        max-width: 50rem;
        border-radius: 2rem;
        overflow: hidden;
        @media (max-width:$md2+px){
            max-width: none;
            width: 100%;
        }
    }
</style>