---
---

<a class="out-btn-popup" data-lightshop-item data-key="url" data-property="href">
    <span>Live-превью</span>
</a>

<style lang="scss">
    .out-btn-popup {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        height: 6rem;
        padding: 0 2rem;
        color: inherit;
        font-size: 1.3rem;
        line-height: 100%;
        font-weight: 600;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        background-color: var(--accentColor1);
        border-radius: 1rem;
        overflow: hidden;
        cursor: pointer;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: var(--gradient1);
            opacity: 0;
            transform: translateY(100%);
            transition: all .6s ease;
        }
        span {
            position: relative;
        }
        svg {
            position: relative;
            width: 1.8rem;
            height: 1.8rem;
            fill: var(--fontColor1);
        }
        @include no-hover-touch {
            &::before {
                transform: translate(0);
                opacity: 1;
            }
        }
        @media (max-width: 1600px){
            height: 5rem;
        }
        @media (max-width:$md5+px){
            height: 4rem;
        }
    }
</style>