---
const pageTitle = "Главная";
---
<html lang="ru">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>{pageTitle}</title>
	</head>
	<body>
        <div class="wrapper">
            <main class="page">
                <h1>Главная</h1>
            </main>
        </div>
	</body>
</html>