---
import Burger from '../components/surf/Burger.astro';
import Header from '../components/surf/Header.astro';
import Hero from '../components/surf/Hero.astro';
import SurfSection from '../components/surf/Surf.astro';
import BgLines from '../components/surf/BgLines.astro';
import '../styles/global.css';
import '../styles/surf/style.scss';
import '../styles/surf/swiper.scss';

const pageTitle = "Go Surf лендинг";
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;300;400;500;800&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width" />
		<title>{pageTitle}</title>
	</head>
	<body>
        <div class="wrapper">
            <Burger />
            <Header />
            <main class="page">
                <Hero />
                <SurfSection />
            </main>
            <BgLines />
        </div>
	</body>
</html>
<script>
    import 'lazysizes';
</script>
<style>
    :root {
        --whiteColor: #fff;
        --bgColor: #171919;
        --accentColor: #4AF6CD;
        --desktopStart: 168px;
        --tabletStart: 40px;

        font-family: "Fira Sans", sans-serif;
        color: var(--whiteColor);
        font-size: 22px;
        line-height: 32px;
        font-weight: 400;
        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        background-color: var(--bgColor);
    }
    h1 {
        font-size: 80px;
        line-height: 86px;
        font-weight: 800;
        text-transform: uppercase;
    }
</style>