---
import Static from '../layouts/Static.astro'
import Burger from '../components/surf/Burger.astro';
import Header from '../components/surf/Header.astro';
import Hero from '../components/surf/Hero.astro';
import SurfSection from '../components/surf/Surf.astro';
import TravelSection from '../components/surf/Travel.astro';
import SleepSection from '../components/surf/Sleep.astro';
import ShopSection from '../components/surf/Shop.astro';
import Footer from '../components/surf/Footer.astro';
import BgLines from '../components/surf/BgLines.astro';
import '../styles/surf/style.scss';
import '../styles/surf/swiper.scss';

const lang = 'en';
const title = 'Surf Landing | Портфолио';
const description = 'Тренировочный лендинг про серфинг';
const fonts = 'https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;300;400;500;800&display=swap';
---

<Static lang={lang} title={title} description={description} fonts={fonts}>
    <Burger />
    <Header />
    <main class="page">
        <Hero />
        <SurfSection />
        <TravelSection />
        <SleepSection />
        <ShopSection />
    </main>
    <Footer />
    <BgLines />
</Static>

<script>
    import 'lazysizes';

    document.addEventListener('DOMContentLoaded', function () {
        // GOTO
        const links = document.querySelectorAll('._goto');

        for (const link of links) {
            link.addEventListener('click', function (event) {
                event.preventDefault();

                const targetId = this.getAttribute('href').substring(1);
                const targetElement = document.getElementById(targetId);

                if (targetElement) {
                    targetElement.scrollIntoView({
                        behavior: 'smooth',
                        block: 'start'
                    });
                }
            });
        }

        // Scroll Items
        const elements = document.querySelectorAll('._scr-item');
        const offset = 100;

        function checkVisibility() {
            elements.forEach(el => {
                const rect = el.getBoundingClientRect();
                if (rect.top <= window.innerHeight - offset && rect.bottom >= 0) {
                    el.classList.add('_active');
                }
            });
        }

        checkVisibility();

        window.addEventListener('scroll', checkVisibility);

    });
</script>
<style lang="scss">
    :root {
        --whiteColor: #fff;
        --bgColor: #171919;
        --accentColor: #4AF6CD;
        --desktopStart: 168px;
        --tabletStart: 40px;

        font-family: "Fira Sans", sans-serif;
        color: var(--whiteColor);
        font-size: 22px;
        line-height: 32px;
        font-weight: 400;
        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        background-color: var(--bgColor);
    }
    h1 {
        font-size: 80px;
        line-height: 86px;
        font-weight: 800;
        text-transform: uppercase;
    }
</style>