---
import Static from '../layouts/Static.astro';

import '../styles/main/style.scss';
---

<Static>
	<main class="page">
		<h1>Test data</h1>
		<a href="#" data-lightshop-item data-key="url" data-property='["href"]'>Test</a>
	</main>
</Static>

<script>
    document.addEventListener('DOMContentLoaded', () => {
		const href = '/vr';
		const link = document.querySelector('[data-lightshop-item]');

		link.href = href;
	});
</script>
