---
import Header from '../components/vr/Header.astro';
import Footer from '../components/vr/Footer.astro';
import Hero from '../components/vr/Hero.astro';
import About from '../components/vr/About.astro';
import Service from '../components/vr/Service.astro';
import Choose from '../components/vr/Choose.astro';
import Started from '../components/vr/Started.astro';
import Testimonial from '../components/vr/Testimonial.astro';
import Price from '../components/vr/Price.astro';
import Partners from '../components/vr/Partners.astro';
import Articles from '../components/vr/Articles.astro';
import Subscribe from '../components/vr/Subscribe.astro';
import '../styles/vr/style.scss';

const pageTitle = "VR лендинг";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width" />
		<title>{pageTitle}</title>
	</head>
	<body>
        <div class="wrapper">
            <Header />
            <main class="page">
				<Hero />
				<About />
				<Service />
				<Choose />
				<Started />
				<Testimonial />
				<Price />
				<Partners />
				<Articles />
				<Subscribe />
            </main>
			<Footer />
        </div>
	</body>
</html>

<script>
	import 'lazysizes';

	document.addEventListener('DOMContentLoaded', function () {
    // Scroll Items
    const elements = document.querySelectorAll('._scr-item');

    function checkVisibility() {
        elements.forEach(el => {
            const rect = el.getBoundingClientRect();
            const offset = parseInt(el.getAttribute('data-offset')) || 100; // Получаем значение offset из data-атрибута или используем значение по умолчанию

            if (rect.top <= window.innerHeight - offset && rect.bottom >= 0) {
                const duration = el.getAttribute('data-duration') || '0.6s';
                const delay = el.getAttribute('data-delay') || '0s';

                el.style.setProperty('transition-duration', duration);
                el.style.setProperty('transition-delay', delay);
                el.classList.add('_visible');
            }
        });
    }

    checkVisibility();
    window.addEventListener('scroll', checkVisibility);
});


</script>