@use "sass:math";
@import 'mixins';

@import 'vars';
@import 'typo';

:root {
    --colorBlack_100: #18181B;
    --colorBlack_50: #252532;
    --colorGrey_1: #B0B0B2;
    --colorGrey_2: #D1D1D1;
    --colorWhite: #fff;
    --colorLinear_1: #0CBAF1;
    --colorLinear_2: #E95CE9;
    --colorPurple_10: #CA6AEB;
    --colorBlue: #19B5F1;
    --colorSuccess: #00C566;
    --colorError: #FF4747;
    --colorWarn: #FACC15;

    --bgDoubleGray: linear-gradient(var(--colorBlack_50), var(--colorBlack_50)) 50% 50% / calc(100% - 2px) calc(100% - 2px) no-repeat, linear-gradient(90deg, rgba(255, 255, 255, .3) 0, transparent 100%);
    --bgBright: linear-gradient(90deg, var(--colorLinear_1), var(--colorLinear_2));
    --bgDoubleBright: linear-gradient(var(--colorBlack_100), var(--colorBlack_100)) 50% 50% / calc(100% - 2px) calc(100% - 2px) no-repeat, linear-gradient(90deg, var(--colorLinear_1), var(--colorLinear_2));
    --bgDoubleBrightActive: linear-gradient(var(--colorBlack_50), var(--colorBlack_50)) 50% 50% / calc(100% - 2px) calc(100% - 2px) no-repeat, linear-gradient(90deg, var(--colorLinear_1), var(--colorLinear_2));

    font-family: "Chakra Petch", sans-serif;
    color: var(--colorGrey_1);
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--colorBlack_100);
}
._container {
    max-width: $maxWidthContainer+px;
    margin: 0 auto;
    padding: 0 15px;
}
.main-button {
    position: relative;
    display: inline-block;
    padding: 18px 38px;
    color: var(--colorWhite);
    font-size: 14px;
    line-height: 14px;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    background: var(--bgBright);
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        background: var(--bgBright);
        transform: scale(1.1);
        filter: blur(20px);
        opacity: 0;
        transition: opacity .3s ease;
    }
    &:hover {
        &::before {
            opacity: 1;
        }
    }
}