@import '../assets/vars';

h1 {
    color: var(--colorWhite);
    font-size: 48px;
    line-height: 58px;
    font-weight: 600;
    letter-spacing: -.5px;
    @media (min-width:$md2+px){
        @include adaptiv-value("font-size", 64, 42, 1);
        @include adaptiv-value("line-height", 83, 61, 1);
    }
}

h3 {
    color: var(--colorWhite);
    font-size: 20px;
    line-height: 26px; 
}

h2 {
    color: var(--colorWhite);
    font-size: 32px;
    line-height: 42px;
    font-weight: 600;
    letter-spacing: -.5px;
    @media (min-width:$md2+px){
        @include adaptiv-value("font-size", 48, 28, 1);
        @include adaptiv-value("line-height", 58, 34, 1);
    }
}

.h4-linear {
    display: inline-block;
    margin-bottom: 12px;
    color: transparent;
    font-size: 16px;
    line-height: 21px;
    font-weight: 500;
    letter-spacing: .14em;
    text-transform: uppercase;
    background: var(--bgBright);
    background-clip: text;
}