h1 {
    color: var(--colorWhite);
    font-size: 64px;
    line-height: 83px;
    font-weight: 600;
    letter-spacing: -.5px;
}

h3 {
    color: var(--colorWhite);
    font-size: 20px;
    line-height: 26px; 
}