---
const {lang, title, description, font} = Astro.props;
---

<html lang={lang}>
	<head>
		<meta charset="utf-8" />
        <title>{title}</title>
        <meta name="description" content={description}>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
	</head>
	<body>
        <div class="wrapper">
            <slot />
        </div>
	</body>
</html>