---
const { lang = 'ru', title, description, fonts } = Astro.props;
const shouldIncludeFonts = fonts !== undefined && fonts !== '';
---

<html lang={lang}>
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
        <title>{title}</title>
		<meta name="description" content={description}>
		{shouldIncludeFonts &&
			<link href={fonts} rel="stylesheet" />
		}
	</head>
	<body>
        <div class="wrapper">
            <slot />
        </div>
	</body>
</html>